<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array>
      <string>
</string>
      <string>/A_E/A_O/A_U_L_A/C_H_E/C_Q_U_E/D_E/D_U_D_E_L_A/E_A/E_S_S_E/E_T_T_E/E_U/E_U_R_I_C_E/Eacute_E/F_E_H_O/F_F_E/F_V_E/G_U_E/I_E/I_E_L/L_E/L_L_E/L_U/M_P/N_E/N_N_E/O_Idieresis_N/O_T_E/P_M/P_E/R_E/R_S_E/S_C_E/S_E/S_L_E/S_S_E/S_T_E/T_E/T_T_E/U_E/U_L_L_E/U_X_L_E_S/X_L_L_E_S/X_S_E/a_e/a_o/a_u_l_a/c_h_e s/c_q_u_e/d_u_d_e_l_a/e_a/e_s_s_e/e_t_t_e/e_u/eacute_e/f_e_h_o/f_f_e/f_v_e/g_u_e/i_e/i_e_l/l_e/l_l_e/l_u/n_e/n_n_e/o_t_e/p_e/m_p/r_e/r_s_e/s_c_e/s_e/s_s_e/s_t_e/t_e/t_t_e/u_e/u_l_l_e/x_c_e/l_l_e/l_l_e/x_l_l_e_s  


amoureu/x_s_e s</string>
      <string>les aut/e_u_r_i_c_e s de ce livre sont sûrment en train de bronzer</string>
      <string>Mari·el 
fini·e de jacasser
les auteur·ices
celle·ux u·e eau·e
perdu..es dans la forêt
IELS étaient totalement PERDU·ES</string>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3260</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>A0EF8C6F-60C0-4D2A-A4F7-7A1091FA18C1</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>2</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Atilde</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>AE</string>
      <string>W_W_W</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>atilde</string>
      <string>b</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>z</string>
      <string>ae</string>
      <string>f_b</string>
      <string>f_f</string>
      <string>f_f_b</string>
      <string>f_f_h</string>
      <string>f_f_i</string>
      <string>f_f_j</string>
      <string>f_f_k</string>
      <string>f_f_l</string>
      <string>f_f_t</string>
      <string>f_h</string>
      <string>f_i</string>
      <string>f_j</string>
      <string>f_k</string>
      <string>f_l</string>
      <string>f_t</string>
      <string>w_w_w</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.osf</string>
      <string>one.osf</string>
      <string>two.osf</string>
      <string>three.osf</string>
      <string>four.osf</string>
      <string>five.osf</string>
      <string>six.osf</string>
      <string>seven.osf</string>
      <string>eight.osf</string>
      <string>nine.osf</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>.null</string>
      <string>uni000D</string>
      <string>uni00A0</string>
      <string>uni2009</string>
      <string>uni2731</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>uni2051</string>
      <string>uni2042</string>
      <string>uni204E</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>uni261C</string>
      <string>uni261D</string>
      <string>uni261E</string>
      <string>uni261F</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>Euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>plus</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>arrowup</string>
      <string>uni2197</string>
      <string>arrowright</string>
      <string>uni2198</string>
      <string>arrowdown</string>
      <string>uni2199</string>
      <string>arrowleft</string>
      <string>uni2196</string>
      <string>idieresisfem</string>
      <string>uF8100</string>
      <string>uF8110</string>
      <string>uF8180</string>
      <string>uF8190</string>
      <string>uF8200</string>
      <string>uF8210</string>
      <string>uF8280</string>
      <string>uF8290</string>
      <string>uF8300</string>
      <string>uF8310</string>
      <string>uF8340</string>
      <string>uF8350</string>
      <string>uF83C0</string>
      <string>uF8400</string>
      <string>uF8410</string>
      <string>uF8440</string>
      <string>uF8450</string>
      <string>uF84C0</string>
      <string>uF8500</string>
      <string>uF8510</string>
      <string>uF85C0</string>
      <string>uF85D0</string>
      <string>uF8600</string>
      <string>uF8610</string>
      <string>uF86C0</string>
      <string>uF86D0</string>
      <string>uF8700</string>
      <string>uF8740</string>
      <string>uF8790</string>
      <string>uF87D0</string>
      <string>uF8800</string>
      <string>uF8840</string>
      <string>uF8890</string>
      <string>uF88D0</string>
      <string>uF8900</string>
      <string>uF8940</string>
      <string>uF8950</string>
      <string>uF8980</string>
      <string>uF8990</string>
      <string>uF89C0</string>
      <string>uF8A00</string>
      <string>uF8A40</string>
      <string>uF8A50</string>
      <string>uF8A80</string>
      <string>uF8A90</string>
      <string>uF8AC0</string>
      <string>uF8B00</string>
      <string>uF8B10</string>
      <string>uF8B40</string>
      <string>uF8BD0</string>
      <string>uF8C00</string>
      <string>uF8C10</string>
      <string>uF8C40</string>
      <string>uF8CD0</string>
      <string>f_ffem</string>
      <string>fmasc_vfem</string>
      <string>Idieresisfem</string>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
      <string>parenleft.case</string>
      <string>parenright.case</string>
      <string>braceleft.case</string>
      <string>braceright.case</string>
      <string>bracketleft.case</string>
      <string>bracketright.case</string>
      <string>guillemotleft.case</string>
      <string>guillemotright.case</string>
      <string>guilsinglleft.case</string>
      <string>guilsinglright.case</string>
      <string>colon.case</string>
      <string>exclamdown.case</string>
      <string>questiondown.case</string>
      <string>periodcentered.case</string>
      <string>uF1800</string>
      <string>uF1900</string>
      <string>E_S_S</string>
      <string>e_s_s</string>
      <string>uF1010</string>
      <string>uF1030</string>
      <string>uF1110</string>
      <string>uF1130</string>
      <string>uF1410</string>
      <string>uF1440</string>
      <string>uF1510</string>
      <string>uF1540</string>
      <string>uF1810</string>
      <string>uF1910</string>
      <string>uF2050</string>
      <string>uF2130</string>
      <string>uF2150</string>
      <string>uF2210</string>
      <string>uF2310</string>
      <string>uF3210</string>
      <string>uF3220</string>
      <string>uF3250</string>
      <string>uF3311</string>
      <string>uF3320</string>
      <string>uF3350</string>
      <string>uF3410</string>
      <string>uF3510</string>
      <string>uF3640</string>
      <string>uF3740</string>
      <string>uF3840</string>
      <string>uF3870</string>
      <string>uF3940</string>
      <string>uF3970</string>
      <string>uF4010</string>
      <string>uF4110</string>
      <string>uF4470</string>
      <string>uF44C0</string>
      <string>uF4570</string>
      <string>uF45C0</string>
      <string>uF4610</string>
      <string>uF4660</string>
      <string>uF4690</string>
      <string>uF46C0</string>
      <string>uF4710</string>
      <string>uF4760</string>
      <string>uF4790</string>
      <string>uF47C0</string>
      <string>uF4870</string>
      <string>uF4970</string>
      <string>uF5050</string>
      <string>uF5150</string>
      <string>uF5610</string>
      <string>uF56A0</string>
      <string>uF5710</string>
      <string>uF57A0</string>
      <string>BBB</string>
    </array>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Atilde</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>AE</string>
      <string>W_W_W</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>atilde</string>
      <string>b</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>z</string>
      <string>ae</string>
      <string>f_b</string>
      <string>f_f</string>
      <string>f_f_b</string>
      <string>f_f_h</string>
      <string>f_f_i</string>
      <string>f_f_j</string>
      <string>f_f_k</string>
      <string>f_f_l</string>
      <string>f_f_t</string>
      <string>f_h</string>
      <string>f_i</string>
      <string>f_j</string>
      <string>f_k</string>
      <string>f_l</string>
      <string>f_t</string>
      <string>w_w_w</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.osf</string>
      <string>one.osf</string>
      <string>two.osf</string>
      <string>three.osf</string>
      <string>four.osf</string>
      <string>five.osf</string>
      <string>six.osf</string>
      <string>seven.osf</string>
      <string>eight.osf</string>
      <string>nine.osf</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>.null</string>
      <string>uni000D</string>
      <string>uni00A0</string>
      <string>uni2009</string>
      <string>uni2731</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>uni2051</string>
      <string>uni2042</string>
      <string>uni204E</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>uni261C</string>
      <string>uni261D</string>
      <string>uni261E</string>
      <string>uni261F</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>Euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>plus</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>arrowup</string>
      <string>uni2197</string>
      <string>arrowright</string>
      <string>uni2198</string>
      <string>arrowdown</string>
      <string>uni2199</string>
      <string>arrowleft</string>
      <string>uni2196</string>
      <string>idieresisfem</string>
      <string>uF8100</string>
      <string>uF8110</string>
      <string>uF8180</string>
      <string>uF8190</string>
      <string>uF8200</string>
      <string>uF8210</string>
      <string>uF8280</string>
      <string>uF8290</string>
      <string>uF8300</string>
      <string>uF8310</string>
      <string>uF8340</string>
      <string>uF8350</string>
      <string>uF83C0</string>
      <string>uF8400</string>
      <string>uF8410</string>
      <string>uF8440</string>
      <string>uF8450</string>
      <string>uF84C0</string>
      <string>uF8500</string>
      <string>uF8510</string>
      <string>uF85C0</string>
      <string>uF85D0</string>
      <string>uF8600</string>
      <string>uF8610</string>
      <string>uF86C0</string>
      <string>uF86D0</string>
      <string>uF8700</string>
      <string>uF8740</string>
      <string>uF8790</string>
      <string>uF87D0</string>
      <string>uF8800</string>
      <string>uF8840</string>
      <string>uF8890</string>
      <string>uF88D0</string>
      <string>uF8900</string>
      <string>uF8940</string>
      <string>uF8950</string>
      <string>uF8980</string>
      <string>uF8990</string>
      <string>uF89C0</string>
      <string>uF8A00</string>
      <string>uF8A40</string>
      <string>uF8A50</string>
      <string>uF8A80</string>
      <string>uF8A90</string>
      <string>uF8AC0</string>
      <string>uF8B00</string>
      <string>uF8B10</string>
      <string>uF8B40</string>
      <string>uF8BD0</string>
      <string>uF8C00</string>
      <string>uF8C10</string>
      <string>uF8C40</string>
      <string>uF8CD0</string>
      <string>f_ffem</string>
      <string>fmasc_vfem</string>
      <string>Idieresisfem</string>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
      <string>parenleft.case</string>
      <string>parenright.case</string>
      <string>braceleft.case</string>
      <string>braceright.case</string>
      <string>bracketleft.case</string>
      <string>bracketright.case</string>
      <string>guillemotleft.case</string>
      <string>guillemotright.case</string>
      <string>guilsinglleft.case</string>
      <string>guilsinglright.case</string>
      <string>colon.case</string>
      <string>exclamdown.case</string>
      <string>questiondown.case</string>
      <string>periodcentered.case</string>
      <string>uF1800</string>
      <string>uF1900</string>
      <string>E_S_S</string>
      <string>e_s_s</string>
      <string>uF1010</string>
      <string>uF1030</string>
      <string>uF1110</string>
      <string>uF1130</string>
      <string>uF1410</string>
      <string>uF1440</string>
      <string>uF1510</string>
      <string>uF1540</string>
      <string>uF1810</string>
      <string>uF1910</string>
      <string>uF2050</string>
      <string>uF2130</string>
      <string>uF2150</string>
      <string>uF2210</string>
      <string>uF2310</string>
      <string>uF3210</string>
      <string>uF3220</string>
      <string>uF3250</string>
      <string>uF3311</string>
      <string>uF3320</string>
      <string>uF3350</string>
      <string>uF3410</string>
      <string>uF3510</string>
      <string>uF3640</string>
      <string>uF3740</string>
      <string>uF3840</string>
      <string>uF3870</string>
      <string>uF3940</string>
      <string>uF3970</string>
      <string>uF4010</string>
      <string>uF4110</string>
      <string>uF4470</string>
      <string>uF44C0</string>
      <string>uF4570</string>
      <string>uF45C0</string>
      <string>uF4610</string>
      <string>uF4660</string>
      <string>uF4690</string>
      <string>uF46C0</string>
      <string>uF4710</string>
      <string>uF4760</string>
      <string>uF4790</string>
      <string>uF47C0</string>
      <string>uF4870</string>
      <string>uF4970</string>
      <string>uF5050</string>
      <string>uF5150</string>
      <string>uF5610</string>
      <string>uF56A0</string>
      <string>uF5710</string>
      <string>uF57A0</string>
      <string>BBB</string>
      <string>Aring</string>
      <string>Oslash</string>
      <string>Q.002</string>
      <string>A_U_L_A</string>
      <string>C_H_E</string>
      <string>C_Q_U_E</string>
      <string>C_h</string>
      <string>D_U_D_E_L_A</string>
      <string>E_A</string>
      <string>E_S_S_E</string>
      <string>E_T</string>
      <string>E_T_T_E</string>
      <string>E_U</string>
      <string>E_U_R_I_C_E</string>
      <string>E_U_X</string>
      <string>F_E_H_O</string>
      <string>F_F_E</string>
      <string>F_U</string>
      <string>F_V_E</string>
      <string>G_U_E</string>
      <string>I_e_l</string>
      <string>L_U</string>
      <string>O_Idieresis_N</string>
      <string>O_T_E</string>
      <string>OE_U</string>
      <string>P_E</string>
      <string>P_M</string>
      <string>R_S_E</string>
      <string>R_Y</string>
      <string>S_C_E</string>
      <string>S_L_E</string>
      <string>S_S_E</string>
      <string>S_T_E</string>
      <string>T_T_E</string>
      <string>U_L_L_E</string>
      <string>U_X_L_E_S</string>
      <string>U_n</string>
      <string>U_p</string>
      <string>W_h</string>
      <string>X_C_E</string>
      <string>X_L_L_E_S</string>
      <string>I_C_E</string>
      <string>I_C_E_S</string>
      <string>aring</string>
      <string>idotless</string>
      <string>jdotless</string>
      <string>oslash</string>
      <string>germandbls</string>
      <string>a.001</string>
      <string>e.001</string>
      <string>i.001</string>
      <string>m.001</string>
      <string>t.001</string>
      <string>x.001</string>
      <string>a_e</string>
      <string>a_u_l_a</string>
      <string>b_b</string>
      <string>c_h</string>
      <string>c_h_e</string>
      <string>c_q_u_e</string>
      <string>c_t</string>
      <string>d_e</string>
      <string>d_e_s</string>
      <string>d_u_d_e_l_a</string>
      <string>e_a_u</string>
      <string>e_d</string>
      <string>e_n_t</string>
      <string>e_s</string>
      <string>e_s_s_e</string>
      <string>e_s_t</string>
      <string>e_t</string>
      <string>e_t_t_e</string>
      <string>e_u</string>
      <string>e_u_r_i_c_e</string>
      <string>f_e_h_o</string>
      <string>f_f_e</string>
      <string>g_g</string>
      <string>g_u_e</string>
      <string>l_u</string>
      <string>m_m</string>
      <string>m_p</string>
      <string>n_n_e</string>
      <string>o_idieresis_n</string>
      <string>o_n</string>
      <string>o_t_e</string>
      <string>o_u</string>
      <string>o_u_p</string>
      <string>o_u_s</string>
      <string>o_ucircumflex</string>
      <string>o_udieresis</string>
      <string>p_e</string>
      <string>p_h</string>
      <string>q_u</string>
      <string>q_u_e</string>
      <string>q_u_e_s</string>
      <string>r_r</string>
      <string>r_s_e</string>
      <string>s_c_e</string>
      <string>s_l_e</string>
      <string>s_s</string>
      <string>s_s_e</string>
      <string>t_i</string>
      <string>t_t</string>
      <string>t_t_e</string>
      <string>u_l_l_e</string>
      <string>u_n</string>
      <string>u_x_l_e_s</string>
      <string>v_u</string>
      <string>x_c_e</string>
      <string>x_l_l_e_s</string>
      <string>d_e.001</string>
      <string>i_c_e</string>
      <string>i_c_e_s</string>
      <string>f_v.002</string>
      <string>fraction</string>
      <string>space.001</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>ampersand.001</string>
      <string>euro</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>lozenge</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>ringcomb.case</string>
      <string>dieresis</string>
      <string>grave</string>
      <string>acute</string>
      <string>circumflex</string>
      <string>ring</string>
      <string>tilde</string>
      <string>cedilla</string>
      <string>circumflex.case</string>
      <string>A_E</string>
      <string>A_O</string>
      <string>a_o</string>
      <string>D_E</string>
      <string>Eacute_E</string>
      <string>e_a</string>
      <string>eacute_e</string>
      <string>f_v_e</string>
      <string>I_E</string>
      <string>I_E_L</string>
      <string>i_e_l</string>
      <string>i_e</string>
      <string>L_E</string>
      <string>L_L_E</string>
      <string>l_e</string>
      <string>l_l</string>
      <string>l_l_e</string>
      <string>M_P</string>
      <string>p_m</string>
      <string>N_E</string>
      <string>N_N_E</string>
      <string>n_e</string>
      <string>n_n</string>
      <string>R_E</string>
      <string>r_e</string>
      <string>S_E</string>
      <string>s_e</string>
      <string>s_t</string>
      <string>s_t_e</string>
      <string>T_E</string>
      <string>t_e</string>
      <string>U_E</string>
      <string>U_R</string>
      <string>u_e</string>
      <string>u_r</string>
      <string>X_S_E</string>
      <string>X_S_E_S</string>
      <string>x_s_e</string>
      <string>x_s_e_s</string>
      <string>VTF</string>
      <string>_cedilla</string>
      <string>circumflexcombe.base</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>A_E</key>
      <string>uF1010</string>
      <key>A_O</key>
      <string>uF1030</string>
      <key>D_E</key>
      <string>uF1610</string>
      <key>Eacute_E</key>
      <string>uF1820</string>
      <key>I_E</key>
      <string>uF2610</string>
      <key>I_E_L</key>
      <string>uF2620</string>
      <key>L_E</key>
      <string>uF3210</string>
      <key>L_L_E</key>
      <string>uF3230</string>
      <key>M_P</key>
      <string>uF3410</string>
      <key>N_E</key>
      <string>uF3620</string>
      <key>N_N_E</key>
      <string>uF3650</string>
      <key>R_E</key>
      <string>uF4410</string>
      <key>S_E</key>
      <string>uF4640</string>
      <key>T_E</key>
      <string>uF4810</string>
      <key>U_E</key>
      <string>uF5010</string>
      <key>U_R</key>
      <string>uF50B0</string>
      <key>X_S_E</key>
      <string>uF56B0</string>
      <key>X_S_E_S</key>
      <string>uF56C0</string>
      <key>a_o</key>
      <string>uF1130</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>e_a</key>
      <string>uF1910</string>
      <key>eacute_e</key>
      <string>uF1920</string>
      <key>euro</key>
      <string>Euro</string>
      <key>f_v_e</key>
      <string>uF2160</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>i_e</key>
      <string>uF2740</string>
      <key>i_e_l</key>
      <string>uF2720</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>jdotless</key>
      <string>uni0237</string>
      <key>l_e</key>
      <string>uF3310</string>
      <key>l_l</key>
      <string>uF3320</string>
      <key>l_l_e</key>
      <string>uF3330</string>
      <key>n_e</key>
      <string>uF3720</string>
      <key>n_n</key>
      <string>uF3740</string>
      <key>r_e</key>
      <string>uF4510</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>s_e</key>
      <string>uF4740</string>
      <key>s_t</key>
      <string>uF47C0</string>
      <key>s_t_e</key>
      <string>uF47D0</string>
      <key>space.001</key>
      <string>uni00A0</string>
      <key>t_e</key>
      <string>uF4910</string>
      <key>u_e</key>
      <string>uF5110</string>
      <key>u_r</key>
      <string>uF51B0</string>
      <key>x_s_e</key>
      <string>uF57B0</string>
      <key>x_s_e_s</key>
      <string>uF57C0</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>I_C_E</string>
      <string>I_C_E_S</string>
      <string>f_v.002</string>
      <string>i_c_e</string>
      <string>i_c_e_s</string>
      <string>x.001</string>
      <string>x_s_e_s</string>
    </array>
  </dict>
</plist>
