<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>I_E</key>
    <string>I__E_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>L_L_E</key>
    <string>L__L__E_.glif</string>
    <key>O_Idieresis_N</key>
    <string>O__I_dieresis_N_.glif</string>
    <key>Q.002</key>
    <string>Q_.002.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R_Y</key>
    <string>R__Y_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a_o</key>
    <string>a_o.glif</string>
    <key>c_h</key>
    <string>c_h.glif</string>
    <key>d_e.001</key>
    <string>d_e.001.glif</string>
    <key>d_e_s</key>
    <string>d_e_s.glif</string>
    <key>e.001</key>
    <string>e.001.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_v.002</key>
    <string>f_v.002.glif</string>
    <key>f_v_e</key>
    <string>f_v_e.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>i.001</key>
    <string>i.001.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>l_e</key>
    <string>l_e.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>o_n</key>
    <string>o_n.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s_s</key>
    <string>s_s.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>t.001</key>
    <string>t.001.glif</string>
    <key>two</key>
    <string>two.glif</string>
  </dict>
</plist>
